<div class="container">
  <h1>Stupid Coaching</h1>
    <form action="/answer" data-turbo="false">
      <div class="mb-3">
        <label class="form-label">Ask your coach anything:</label>
        <div class="input-group">
          <input class="form-control" type="text" name="question">
          <input class="btn btn-primary" type="submit" value="Ask!">
        </div>
        </div>
    </form>
</div>
